/* footer side of webisite */
footer {
  background: #092635;
}
.footer-container {
  margin-top: 50vh;
  height: 36vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  margin-bottom: 60px;
}
.footer-logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer-logo h2{
    font-size: 2.5vw;
    margin-top: 18px;    

}
.hr-tag {
    margin-left: 0;
    width: 12vw;
    animation-name: lefttoright;
    animation-duration: 1s;
    animation-delay: 1s;
  }

.footer-left-side h1 {
  font-size: 20px;
}

.footer-left-side li {
  list-style: none;
}

.first ul {
  /* width: 25%;
    height: 25%; */
  display: flex;
  gap: 20px;
}

@keyframes lefttoright {
  from {
    transform: translateX(-7vw);
  }
  to {
    transform: translate(0);
  }
}


/* .hr-tag:hover{
       
      transform: translateX(7vw);
  } */
/* @media (hover:li) {
      .hr-tag{
      
          width: 7vw;
      }  
  } */

.footer-social-icon{
    display: flex;
    align-items: center;
    gap: 20px;

}

.middle-hr-tag {
  width: 80vw;
    background: #f8f4ec;
  /* margin: 40px -38px -10px -20px; */
}


