.popular {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}

.popular h1 {
  color: #171717;
  font-size: 50px;
  font-weight: 600;
}
.popular hr {
  width: 200px;
  height: 7px;
  border-radius: 10px;
  background: #225252;
}
.popular-items {
  margin-top: 50px;
  display: flex;
  gap: 20px;
}
